* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu-area li a {   /* things in nav bar */
	text-decoration: none;
	color: rgb(255, 255, 255);
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	padding: 0 25px;
	font-size: 20px;
    font-family: Garamond;
	line-height: 30px;
	position: relative;
	z-index: 1;
}
.menu-area li {
	list-style: none;
	display: inline-block;
}
.custom-padding {
	padding-top: 25px;
}
nav {   /* nav bar */
	position: relative;
	padding: 10px 20px 10px 10px;
	text-align: right;
	z-index: 1;
	background: #333;
	margin: 0 auto;
	width: calc(100% - 60px);
    
}
.menu-area li a:hover {
	background: #b7d7e8;
	color: #fff;
}
nav:before {
	position: absolute;
	content: '';
	left: 0;
	top: 100%;
	border-top: 10px solid #333;
	border-right: 10px solid #333;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
nav:after {
	position: absolute;
	content: '';
	border-top: 10px solid #333;
	border-left: 10px solid #333;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	top: 100%;
	right: 0;
}

a{
    font-size: 12px;
    text-transform: uppercase;
}

.nav-area{
    background: #262626;
}

.nav-area:after{
    content: '';
    clear: both;
    display: block;
}

.nav-area ul{
    list-style: none;
    margin:0;
}

.nav-area > ul > li{
    float:left;
    position: relative;
}

.nav-area ul li a{
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    display: block;
}

.nav-area ul li:hover a{
    background: #34495a;
}
.nav-area ul ul{
    position: absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 100%;
    left: 0;
}

.nav-area ul li:hover > ul{
    display: block;
}

.nav-area ul ul li{
    position: relative;
}

.nav-area ul ul ul{
    top: 0;
    left: 100%;
}

.nav-area ul ul ul li:hover a{
    background: #34495a;
}