*{
	margin: 0;
	padding: 0;
}
body{
	background: #eee;
	font-size: 25px;
	font-family: Garamond;
}
 
.nav{
    background-color: #222;
    box-shadow: 0px 2px 5px 0px #222;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	border-radius: 5px;
	
}
ul li{
	list-style: none;
	width: 272px;
	line-height: 60px;
	position: relative;
	background: #222;
	box-shadow: 0px 2px 5px 0px #222;
	text-align: center;
	float: left;
	background-color: #222;
    z-index: 10;
}
ul li ul{
	position: absolute;
}
.nav > ul > li:nth-of-type(1){
	border-radius: 5px 0px 0px 5px;
}
.nav > ul > li:nth-of-type(5){
	border-radius: 0px 5px 5px 0px;
}
ul li a{
	color: #fff;
	width: 200px;
	height: 58px;
	display: inline-block;
	text-decoration: none;
}
ul li a:hover{
	font-weight: bold;
	border-bottom: 2px solid #fff;
}
ul li ul{
	display: none;
}
.nav ul li:hover ul{
	display: block;
}
.fa{
	margin-right: 5px;
}
.container{
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	padding:20px 20px;
}
 @media only screen and (max-width: 480px){
	header{
		width: 100%;
	}
	.nav{
		display: inline-block;
		width: 100%;
		height: auto;
	}
	ul li{
		width: 100%;
		float: none;
		
	}
	ul li a{
		width: 100%;
		display: block;
	}
	ul li ul{
		position: static;
	}
	ul li ul li a{
		background: #222;
	}
	.fa-list.modify{
		display: block;
	}
	.container{
		width: 100%;
		height: auto;
	}
	body{
		overflow-x:hidden;
	}
} 

.button {
    background-color: rgb(0, 0, 107);
    border-radius: 12px;
    box-shadow: gray;
    border: none;
    color: white;
    text-align: center;
    font-family: Garamond;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    position: static;
    margin-left: 2%;
  }