
    h1 {
        color: black;
        position: static;
        font-family: Garamond;
        font-size: 300%;
        text-align: center;
        /* background-image: linear-gradient(to bottom right, darkviolet, plum); */
        width: 100%;
        margin-left: 0%;
        margin-bottom: 0%;
    }



    h2 {
        color: black;
        position: static;
        font-family: Garamond;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0%;
    }



    h3 {
        /* color: darkviolet; */
        position: static;
        font-family: Garamond;
        font-size: 270%;
        text-align: left;
        margin-top: 0%;
        margin-bottom: 0%;
        padding-top: 3%;
    }



    p{
           font-size: 20px;
           font-family: Garamond;
           margin-top: 0%; 
           margin-bottom: 1%;
           /* padding-top: 3%; */
    }
