#day {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* background: linear-gradient(rgb(241, 241, 114), rgb(240, 178, 62), rgb(231, 43, 43), rgb(250, 78, 221), rgb(100, 1, 100)); */
    /* background: radial-gradient(rgb(241, 241, 114), rgb(240, 178, 62), rgb(231, 43, 43), rgb(250, 78, 221), rgb(100, 1, 100)); */
    background: radial-gradient(circle at top,rgb(100, 1, 100), transparent),
            radial-gradient(circle at bottom,rgb(241, 241, 114), rgb(240, 178, 62),rgb(231, 43, 43), rgb(250, 78, 221), transparent);
  }

#night {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 50.25%;
    width: 50%;
    height: 100%;
    background: linear-gradient(black, #000099, #4da8e4, #f8bdbd, #ffeee6);
  }

#star1{
      position: fixed;
      top: 40px;
      width: 5px;
      height: 5px;
      background: white;
      border-radius: 50%;
      animation-name: star;
      animation-duration: 1s;
      animation-iteration-count: infinite;
  }

  #star2{
    position: fixed;
    top: 80px;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    animation-name: star;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53)
}

@keyframes star {
    50%{
        background: transparent;
    }
}

#moon{
    background: white;
    border-radius: 50%;
    position: fixed;
    top: 30px;
    /* right: 552px; */
    left: 52%;
    height: 100px;
    width: 100px;
}

#moonCover{
    background: black;
    opacity: 15%;
    border-radius: 50%;
    position: fixed;
    top: 30px;
    /* right: 571px; */
    left: 51%;
    height: 100px;
    width: 100px;
}

#name{
    background: #ffeee6;
    position: fixed;
    top: 160px;
    /* right: 475px; */
    left: 20px;
    height: 5%;
}

#button{
    background: #ffeee6;
    position: fixed;
    top: 160px;
    /* right: 410px; */
    left: 200px;
    height: 6%;
}

#button:hover{
    background: chartreuse;
}

#hello{
    position: fixed;
    top:220px;
    left:0px;
    visibility: hidden;
    animation-name: hello;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
}

#demo{
    position: fixed;
    top:280px;
    left:0px;
    animation-name: hello;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
}

@keyframes hello{
    100%{
        left: 23%;
    }
}

p{
    font-size: 50px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    /* text-align: center; */
}

#hello2{
    position: fixed;
    top:220px;
    left: 51%;
    visibility: hidden;
    animation-name: hello2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
}

#demo2{
    position: fixed;
    top:280px;
    left:51%;
    animation-name: hello2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
}

@keyframes hello2{
    100%{
        left: 80%;
    }
}

#sun{
    background: yellow;
    box-shadow: orange 4px 6px;  
    border-radius: 50%;
    position: fixed;
    top: 30px;
    left: 2%;
    height: 100px;
    width: 100px;
}

#cloud{
    background: white; 
    box-shadow: black 4px 5px;
    border-radius: 50%;
    position: fixed;
    height: 50px;
    width: 50px;
    animation-name: cloud;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

#cloud2{
    background: white; 
    box-shadow: black 4px 5px;
    border-radius: 50%;
    position: fixed;
    height: 50px;
    width: 50px;
    animation-name: cloud2;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

#cloud3{
    background: white; 
    box-shadow: black 4px 5px;
    border-radius: 50%;
    position: fixed;
    height: 50px;
    width: 50px;
    animation-name: cloud3;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes cloud{
    50%{
        box-shadow: transparent 4px 5px;
    }
    100%{
        /* right: 0%; */
        box-shadow: transparent 2px 3px;
        background: transparent;
        left: 22%;
    }

}

@keyframes cloud2{
    50%{
        box-shadow: transparent 4px 5px;
    }
    100%{
        /* right: 0%; */
        box-shadow: transparent 2px 3px;
        background: transparent;
        left: 34%;
    }

}

@keyframes cloud3{
    50%{
        box-shadow: transparent 4px 5px;
    }
    100%{
        /* right: 0%; */
        box-shadow: transparent 2px 3px;
        background: transparent;
        left: 45%;
        
    }

}

/* img{
    position: fixed;
} */